In [9]:
# Dependencies
import pandas as pd
import psycopg2

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from config import pgkey

In [10]:
# Connect to Postgres DB
con_string = f"postgresql+psycopg2://postgres:{pgkey}@localhost:5432/ETL_DB"
engine = create_engine(con_string)
connection = engine.connect()

In [11]:
# Store filepaths in a variables
# Happiness Index
happiness_input = "Resources/WorldHappinessIndex2018.csv"

#WDI input 1

#WDI input 2

#Life Expectancy input

In [12]:
# Read Happiness data and prep for join and load
happiness_df = pd.read_csv(happiness_input, encoding="UTF 8")

happiness_df.head()

# Remove Rank
del happiness_df['Rank']
happiness_df.head()

# rename fields for load into table
happiness_df = happiness_df.rename(columns={"Year" : "stats_year",
                                            "Country" : "stats_country",
                                            "Score" : "hap_score",
                                            "GDP_Per_Capita" : "hap_GDP",
                                            "Social_Support" : "hap_social",
                                            "Healthy_Life_Expectancy" : "hap_health",
                                            "Freedom_To_Make_Life_Choices" : "hap_freedom", 
                                            "Generosity" : "hap_generosity",
                                            "Perceptions_Of_Corruption" : "hap_corruption",
                                            "Residual" : "hap_residual"
                                            })

In [13]:
# Show just the header
happiness_df.head()

,stats_year,stats_country,hap_score,hap_GDP,hap_social,hap_health,hap_freedom,hap_generosity,hap_corruption,hap_residual
0,2018,Finland,7.632,1.305,1.592,0.874,0.681,0.192,0.393,2.988
1,2018,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2.723
2,2018,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2.779
3,2018,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2.564
4,2018,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2.675

In [15]:
# Load combined data into database
happiness_df.to_sql('country_stats', con=engine)