In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

In [2]:
life_df = pd.read_csv("Resources/Life_Expectancy.csv", encoding="ISO-8859-1")
crime_df = pd.read_csv("Resources/Crime_Rate.csv")

In [11]:
from config import pgkey

con_string = f"postgresql+psycopg2://postgres:{pgkey}@localhost:5432/ETL_DB"
engine = create_engine(con_string)
connection = engine.connect()

In [3]:
life_df.head()

       Country  2018
0        Aruba  76.2
1  Afghanistan  64.5
2       Angola  60.8
3      Albania  78.5
4      Andorra   NaN

In [4]:
life_df = life_df.rename(columns={"Country":"stats_country", "2018":"WBK_life_expectancy"})
life_df.head()

  stats_country  WBK_life_expectancy
0         Aruba                 76.2
1   Afghanistan                 64.5
2        Angola                 60.8
3       Albania                 78.5
4       Andorra                  NaN

In [5]:
crime_df.head()

            Country  crime.index
0         Venezuela        84.36
1  Papua New Guinea        80.04
2      South Africa        77.29
3       Afghanistan        76.97
4          Honduras        76.65

In [6]:
crime_df = crime_df.rename(columns={"Country":"stats_country", "crime.index": "WPR_crime_rate"})

In [7]:
crime_df.head()

      stats_country  WPR_crime_rate
0         Venezuela           84.36
1  Papua New Guinea           80.04
2      South Africa           77.29
3       Afghanistan           76.97
4          Honduras           76.65

In [9]:
combined_df = pd.merge(life_df, crime_df, on="stats_country", how="outer")

In [10]:
combined_df.head()

  stats_country  WBK_life_expectancy  WPR_crime_rate
0         Aruba                 76.2             NaN
1   Afghanistan                 64.5           76.97
2        Angola                 60.8           65.74
3       Albania                 78.5           39.86
4       Andorra                  NaN             NaN

In [12]:
combined_df.to_sql('country_stats', con=engine)